* {
  box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    line-height: 1.5;
    
    color: #333333;
}
/*=============1 Section============*/
.section {
  padding: 30px 10%;
}

.header {
  margin-top: 80px;

  text-align: center;
  font-size: 24px;
}

.header span {
  display: block;

  font-weight: 300;
}

.header strong {
  font-weight: 900;
  text-transform: uppercase;
}

.main {
  margin-top: 80px;
  
  text-align: center;
}

.video, .form {
  vertical-align: top;

  display: inline-block;

}

.form {
  margin-left: 30px;
  padding: 20px;

  text-align: center;

  border: 5px solid #2727d9;
}

.form-header {
  margin-bottom: 20px;

  text-align: center;
  font-size: 20px;
  font-weight: 900;
}

.form input {
  width: 300px;
  margin-top: 11px;
  padding: 17px;
  display: block;

  font-size: 18px;

  border: 1px solid #333333;
}

.btn {
  width: 300px;
  height: 60px;
  display: block;
  margin: 8px auto;

  font-size: 18px;
  
  color: #ffffff;
  background-color: #2727d9;
  border: none;
}


/*=============2 Section============*/
.section {
  text-align: center;
}

.feature {
  margin: 60px auto;
}

.feature-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
}

.col {
  display: inline-block;
  margin: 10px 50px;

  text-align: center;
}

.col p {
  font-size: 16px;
  font-weight: 900;
}





